.text-center {
  text-align: center;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// display
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

// flex box
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

// margin
.mb-0 {
  margin-bottom: 0;
}

.text-current {
  color: currentcolor;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}
